---
sidebar_cats:
- basic
- advanced
- tutorials
---
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ page.title }} | Exit Games Photon Cloud Documentation .o.OoOo.</title>
{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% endif %}
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    
    <link href="/_shared/css/eg.css" rel="stylesheet" media="all">

    <link rel="shortcut icon" href="/_shared/favicon.ico" />
</head>

<body>

<div class="page"></div>
    
    <aside>
        <nav>
            <ul>
        {% for cat in (page.sidebar_cats) %}
                <li>
                    <h3>
                        <a href="#">{{ cat | replace:'_',' ' | capitalize }}</a>
                    </h3>
                    
                    <ul class="js-guides">
                {% for post in site.posts reversed %}
                {% if post.categories contains cat %}
                    {% if page.title == post.title %}
                        <li class="disable"><span>{{ page.title }}</span></li>
                    {% else %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endif %}
                {% endfor %}
                </ul>
                </li>
        {% endfor %}
            </ul>
        </nav>
    </aside>

    <section class="body" role="document">
        
        <section class="borderLight">
            <div class="iP">
                
                <article>
                    <a id="top"></a>
                    <h1>{{ page.title }}</h1>
                    
                    {{ content }}
                </article>
                
            </div>
        </section>

    </section>
    <b class="cA"></b>

    <footer role="contentinfo">
        <div class="iP">
            <div class="mod">
                &copy;<time datetime="2011-10-18">2011</time>
                <a class="footerLink" href="http://www.exitgames.com/" target="_blank" rel="nofollow">Exit Games</a>&reg;,&nbsp;all rights reserved.
                <a class="footerLink" href="http://www.exitgames.com/Account/TermsOfUse" rel="nofollow">Terms of Use</a> | 
                <a class="footerLink" href="http://www.exitgames.com/Account/LicenseTerms" rel="nofollow">Photon License Terms</a>
            </div>
        </div>
    </footer>

</body>

</html>
